<!doctype html>
<html>
<head>
	<title>Staff Locker Room</title>

	<% include headerLinks.ejs %>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

	<% include staffNav.ejs %>


	<div class="col-sm-9">

		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>


		<form class="form-horizontal" id="addPlayer" onsubmit="return validatePlayerAddForm()" action="/staff/editplayer/<%= player._id %>" method="post">

			<!-- TODO: update username and password. Might want to do this another way
			<div class="form-group">
				<label class="control-label col-sm-3" for="username">Username</label>
				<div class="col-sm-8">
					<input class="form-control inputForm" type="text" name="username" value="<%= player.username %>">
				</div>	
			</div>


			<div class="form-group">
				<label class="control-label col-sm-3" for="password">Password</label>
				<div class="col-sm-8">
					<input class="form-control inputForm" type="password" name="password">
				</div>
			</div>

			<hr>-->

			<div class="form-group">
				<label class="control-label col-sm-3" for="playerFirstName">First Name</label>
				<div class="col-sm-8">	
					<input class="form-control inputForm" type="text" name="playerFirstName" value="<%= player.firstname %>">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="playerLastName">Last Name</label>
				<div class="col-sm-8">
					<input class="form-control inputForm" type="text" name="playerLastName" value="<%= player.lastname %>">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="playerBirthDate">Date Of Birth</label>
				<div class="col-sm-4">
					<input class="form-control inputForm" type="date" name="playerBirthDate" value="<%= formatDate(player.birthdate) %>">
				</div>
			</div>

			<input type="hidden" name="playerId" value="<%= player._id %>">

			<div class="form-actions">
				<button type="submit" class="btn btn-success btn-large">Update Player</button>
				<button class="btn btn-danger btn-large">Cancel</button>
			</div>

		</form>
	</div>

</body>
<script src="/javascripts/global.js"></script>
</html>
