<!doctype html>
<html>
<head>
	<title>Staff Locker Room</title>

	<% include headerLinks.ejs %>

	
</head>
<body>

	<% include staffNav.ejs %>


	<div class="col-sm-12">

		<% if (message.length > 0) { %>
			<div class="alert alert-success"><%= message %></div>
		<% } %>

		<div class="playerList" id="playerList">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Action</th>
						<th>Username</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Birth Date</th>
						<th>Team</th>
					</tr>
				</thead>
				<tbody>

				<% for(var i=0; i<players.length; i++) {%>
					<tr>
						<td>
							<a href="editplayer/<%= players[i]._id %>" ><i class="fa fa-pencil-square-o fa-fw"></i></a>
							<a href="deleteplayer/<%= players[i].userId._id %>"><i class="fa fa-trash-o fa-fw"></i></a>
						</td>
						<td><%= players[i].userId.username %></td>
						<td><%= players[i].firstname %></td>
						<td><%= players[i].lastname %></td>
						<td><%= formatDate(players[i].birthdate) %></td>

						<% if(players[i].teamId === null) {%>
							<td>N/A</td>
						<% } else{ %>
							<td><%= players[i].teamId.name %></td>
						<% } %>

					</tr>
				<%}%>


				</tbody>
			</table>
		</div>
	</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>

</html>